Marius <marho@itu.dk> Marius Holm <marho@itu.dk>
Marius <marho@itu.dk> Marius Holm <79516381+Powsdaws@users.noreply.github.com>
Morten <mofb@itu.dk> mortfb <mofb@itu.dk>
Morten <mofb@itu.dk> MortenFB <mortbonneland@gmail.com>
Morten <mofb@itu.dk> mortfb <mortbonneland@gmail.com>
Laura <llsa@itu.dk> llsa-itu <145338777+llsa-itu@users.noreply.github.com>
Jonas <jones@itu.dk> Esser <jones@itu.dk>
Jonas <jones@itu.dk> Jonas Esser <jonas@esser.dk>
Torkil <toat@itu.dk> Torkilgit <tlirok03@gmail.com>
Torkil <toat@itu.dk> toat42 <toat@itu.dk>
Jonas <jones@itu.dk> Jonas Esser <jones@itu.dk>
LLM <none> ChatGPT
LLM <none>  ChatGPT
LLM <none> Claude AI
LLM <none> ClaudeAi
LLM <none> ClaudeAI
LLM <none> Claude
LLM <none> Microsoft Copilot